* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

#darkMode {
    background-color: black;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode.clicked {
    filter: none !important;
    background-color: black;
}

